@font-face {
  font-family: '辰宇落雁體 Thin';
  src:url("../fonts/ChenYuluoyan-Thin.ttf")format('truetype');
  src:url('../fonts/ChenYuluoyan-Thin.woff') format('woff');
}

* {
  font-family: 'Edu VIC WA NT Beginner', '辰宇落雁體 Thin';
  list-style: none;
}

.body {
  background-color: #D8CCC1;
}

.container {
  max-width: 2000px;
}

.banner {
  height: 50vh;
  background-image: url("../pictures/FQAbanner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner_text {
  color: black;
  font-size: 100px;
  font-weight: bold;
  padding: 40px;
  background-color: rgba(211,220,228, 0.8);
}

@media (max-width: 768px) {
  .banner_text {
    color: black;
    font-size: 70px;
    font-weight: bold;
  }
}

@media (max-width: 576px) {
  .banner_text {
    color: black;
    font-size: 40px;
    font-weight: bold;
  }
}

.search-group {
  background-color: rgb(111,120,128);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 2.5rem;
}

.content {
  padding: 45px 40px;
  font-size: 24px;
  background-image: url("../pictures/paper.png");
  background-size: cover;
  background-position: bottom;
}

.fa-file-lines {
  cursor: pointer;
  color: gray;
}

.keyword {
  color: red;
  font-weight: bold;
}