*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}